.navbar-custom {
	background: #2687E9;
	margin-bottom: 19px;
	border: none;
	display: flex;
	align-items: center;
}
.navbar {
	.brand {
		line-height: 1;
	}
	.icon-contaazul {
		color: #fff;
		font-size: 14px;
	}
}
